  <% Money.use_i18n = false %>
  <% price = Money.new(line_item.item_price_cents, "USD") %>

  <tr>
    <td>
      <%= image_tag line_item.product.image.tiny %>
    </td>
    <td>
      <h4><%= line_item.product.name %></h4>
      <br>
      <p><%= line_item.product.description %></p>
    </td>
    <td>
      $<%= price %>
    </td>
    <td style="text-align: center;">
      <%= line_item.quantity %>
    </td>
    <td>
      $<%= price * line_item.quantity %>
    </td>
  </tr>

